body {
  background-color: floralwhite;
  color: black;
}

header {
  background-color: steelblue;
  color: white;
  padding: 1rem;
}

main {
  padding: 2rem;
}

footer {
  background-color: steelblue;
  color: white;
  padding: 1rem;
}